tf_out/
last_deployment.pid


# ========================
# Entornos virtuales
# ========================
venv/
.venv/
env/
ENV/
*.pyc
__pycache__/
*.pyo
*.pyd

# ========================
# Logs
# ========================
*.log

*.out
*.err

# ========================
# JSON que NO quiero subir
# (por ejemplo, ficheros grandes o sensibles)
# ========================
# Ignora todos los JSON por defecto:
# *.json

# PERO si quieres mantener algunos en el repo,
# los vuelves a permitir con "!" (quita o adapta estas líneas):


# ========================
# Otros directorios temporales
# ========================
.cache/
.tmp/
temp/
tmp/
.instance/
dist/
build/

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/
*.swp
*.swo

# ========================



# Sistema
# ========================
.DS_Store
Thumbs.db



# Todo lo que haya dentro de tools-installer-tmp se ignora
tools-installer-tmp/*